<div class="container h-100">
  it works
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>TAKE MISSIONS <br>
TO GET DISCOUNTS!</h1>
          <p>Upon completion of all missions, you will get a discount on a rent </p>
        </div>
        <a href="#">more</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>REPORTS AND REQUESTS<br>
MAKE A REPORT OR REQUEST</h1>
          <p>As a tenant this platform allows to make requests and report</p>
        </div>
        <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>UPGRADE TO DIFFERENT <br> AVAILABLE SPACES</h1>
          <p>We have variety of spaces in different location check them out!</p>
        </div>
        <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
    
  </div>




  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>TAKE MISSIONS <br>
TO GET DISCOUNTS!</h1>
          <p>Upon completion of all missions, you will get a discount on a rent </p>
        </div>
        <a href="#">more</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>REPORTS AND REQUESTS<br>
MAKE A REPORT OR REQUEST</h1>
          <p>As a tenant this platform allows to make requests and report</p>
        </div>
        <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
      </div>
      </div>
    </div>
    
  </div>


    
</div>


